:root{
    --primario: #505393;
    --secundario: #a14dab;
    --cafe:#f3a46b;
    --rosado: #f76570;
    --negro: #141a18;
    --blanco:#fff;
    --fondo:#F5F8FA;
    --verde: #21b2a6;
    --rojo: #ed4933;
}
body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{
    margin: 0;
}

.sombra{    
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    border-radius: 1.2rem;
}

.bg{
    background-image: url(./img/bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .52);
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor__presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(220, 248, 250, .7);
    padding: 1rem 2rem;
    width: 90%;
    max-width: 90%;
}

.contenedor__presupuesto h1{
    color: var(--primario);
    font-size: 3.6rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contenedor__presupuesto p {
    color: var(--negro);
    font-size: 2.2rem;
    text-align: center;
    margin: 0 10rem;
    letter-spacing: .1rem;
    font-weight: 400;
}

.formulario {    
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: block;
}

@media (min-width: 768px) {
    .formulario {
        width: 80%;
        padding: 2rem 12rem;
        width: 60rem;
    }
}
.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
    margin: 0 auto;
}

.formulario label {
    color: var(--primario);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.formulario input[type="number"],
.formulario input[type="text"]{
    border: none;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.8rem;
    border-radius: .5rem;
}

.formulario input[type="submit"]{
    display: block;
    padding: 1rem 5rem;
    width: 100%;
    background-color: var(--verde);
    border: none;
    text-align: center;
    text-transform: uppercase;   
    margin: 1rem auto;    
    border-radius: .5rem;
    flex: 1;
    font-size: 1.6rem;
    color: var(--blanco);
    font-weight: 700;
    transition: background-color 300ms ease;
}
.formulario input[type="submit"]:hover{
    background-color: #198a80;
    cursor: pointer;
}
.swal2-popup{
    width: 50rem;
}
.swal2-html-container{
    font-size: 1.8rem;
}
.swal2-title{
    font-size: 2.4rem;
}

.swal2-styled.swal2-confirm{
    background-color: var(--verde);
}