:root{
    --primario: #505393;
    --secundario: #a14dab;
    --cafe:#f3a46b;
    --rosado: #f76570;
    --negro: #141a18;
    --blanco:#fff;
    --fondo:#F5F8FA;
    --verde: #21b2a6;
    --rojo: #ed4933;
}
body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{
    margin: 0;
}

.contenedor{
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.sombra{    
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    border-radius: 1.2rem;
}

.bg{
    background-image: url(./img/bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .52);
}
.fondo_2{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(245, 248, 250, .52);
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor__presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(220, 248, 250, .7);
    padding: 1rem 2rem;
    
}

.contenedor__presupuesto h1{
    color: var(--primario);
    font-size: 3.6rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contenedor__presupuesto p {
    color: var(--negro);
    font-size: 2.2rem;
    text-align: center;
    margin: 0 10rem;
    letter-spacing: .1rem;
    font-weight: 400;
}

.nuevoPresupuesto  {
    color: var(--primario) !important;
}
.formulario {    
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: block;
}

@media (min-width: 768px) {
    .formulario {
        width: 80%;
        padding: 2rem 12rem;
        width: 60rem;
    }
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
    margin: 0 auto;
}

.formulario label {
    color: var(--fondo);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.formulario input[type="number"],
.formulario input[type="text"]{
    border: none;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.8rem;
    border-radius: .5rem;
    margin-bottom: 4.5rem;
}

.formulario input[type="submit"]{
    display: block;
    padding: 1rem 5rem;
    width: 100%;
    background-color: var(--verde);
    border: none;
    text-align: center;
    text-transform: uppercase;   
    margin: 1rem auto;    
    border-radius: .5rem;
    flex: 1;
    font-size: 1.6rem;
    color: var(--blanco);
    font-weight: 700;
    transition: background-color 300ms ease;
}

.formulario input[type="submit"]:hover{
    background-color: #198a80;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 6rem;
}

/* Formularuio2 */
.formulario legend {
    margin-bottom: 2rem;
    font-size: 3.6rem;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: var(--blanco);
    margin: 1rem 0rem 3rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--verde);
}

.swal2-popup{
    width: 50rem;
}
.swal2-html-container{
    font-size: 1.8rem;
}
.swal2-title{
    font-size: 2.4rem;
}

.swal2-styled.swal2-confirm{
    background-color: var(--verde);
}

.fondo__controlPresupuesto{
    background-image: url(./img/bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 80vh;
}

@media (min-width: 768px){
    .fondo__controlPresupuesto{
        height: 60vh;
    }
}

.contenedor__controPresupuesto{    
    background-color: #fffc;
    transform: translateY(8rem);
    padding: 3rem;
}
.contenedor__controPresupuesto h2{
    margin: 1rem auto;
    text-align: center;
    color: var(--primario);
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.nuevo__gasto{
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

.nuevo__gasto img{
    width: 5rem;
}

.nuevo__gasto:hover{
    cursor: pointer;
}

.contenido__controlPresupuesto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    
}

@media (min-width: 768px){
    .contenido__controlPresupuesto{
        flex-direction: row;
    }
    .info__controlPresupuesto{
        flex: 1;
    }

    .grafica__controlPresupuesto{
        width: 50%;
    }
    
}

/* BORRAR Al agregar gráfica */
.grafica__controlPresupuesto  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: gray;
}

.boton__controlPresupuesto{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 1.1rem 0 ;
    margin: 1rem 0 ;
    font-weight: 700;
    border-radius: .5rem;
    border: 1px solid #fff ;
    background-color: var(--rojo);
    color: #fff;
    transition: background-color 300ms ease;
}

@media (min-width: 768px){
    .boton__controlPresupuesto{
        display: block;
        width: auto;
        padding: 1.1rem 8rem;
    }
}

.boton__controlPresupuesto:hover{
    background-color: #f06d5b;
}

.items__controPresupuesto{
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px){
    .items__controPresupuesto{
        text-align: left;
    }
}

.items__controPresupuesto span{
    font-weight: 700;
    font-size: 1.8rem;    
}

.modal{
    position: absolute;
    background-color: rgb(0 0 0 / 0.92);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cerrar__modal{
    position: absolute;
    right: 9rem;
    top: 3rem;
    width: 3rem;
    width: 3rem;
    height: 3rem;
}

.modal .cerrar__modal img{
    width: 185%;    
}

.modal .cerrar__modal:hover{
    cursor: pointer;
}

.modal .formulario{
    max-width: 80rem;
    width: 60rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}


body .modal {
    overflow: hidden;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal label {
    text-align: left;
}