:root{
    --primario: #505393;
    --secundario: #a14dab;
    --cafe:#f3a46b;
    --rosado: #f76570;
    --negro: #141a18;
    --blanco:#fff;
    --fondo:#F5F8FA;
    --verde: #21b2a6;
    --rojo: #ed4933;
    --gris: #64748b;
    --grisOscuro: #465263;
}
body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.fijar {
    overflow: hidden;
    height: 100vh;
}

.ocultar{
    display: none;
}
.contenedor{
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}

.sombra{
    -webkit-box-shadow: 0px 17px 18px -10px rgba(0,0,0,0.69);
-moz-box-shadow: 0px 17px 18px -10px rgba(0,0,0,0.69);
box-shadow: 0px 17px 18px -10px rgba(0,0,0,0.69);
}

.bg{
    background-image: url(./img/bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.fondo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .52);
}

.fondo_2{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(245, 248, 250, .52);
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subir{
    margin-top: -2rem !important;
}

.contenedor__presupuesto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(220, 248, 250, .7);
    padding: 1rem 2rem;
    
}

.contenedor__presupuesto h1{
    color: var(--primario);
    font-size: 3.6rem;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contenedor__presupuesto p {
    color: var(--negro);
    font-size: 2.2rem;
    text-align: center;
    margin: 0 10rem;
    letter-spacing: .1rem;
    font-weight: 400;
}

.nuevoPresupuesto  {
    color: var(--primario) !important;
}

.formulario {    
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
    display: block;
}

@media (min-width: 768px) {
    .formulario {
        width: 80%;
        padding: 2rem 12rem;
        width: 60rem;
    }
}

.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
    margin: 0 auto;
    font-size: 1.4rem;
}

.formulario label {
    color: var(--fondo);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.formulario input[type="number"],
.formulario input[type="text"]{
    border: none;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    border-radius: .5rem;
    margin-bottom: 4.5rem;
}

.formulario input[type="submit"]{
    display: block;
    padding: 1rem 5rem;
    width: 100%;
    background-color: var(--verde);
    border: none;
    text-align: center;
    text-transform: uppercase;   
    margin: 1rem auto;    
    border-radius: .5rem;
    flex: 1;
    font-size: 1.4rem;
    color: var(--blanco);
    font-weight: 700;
    transition: background-color 300ms ease;
}

.formulario input[type="submit"]:hover{
    background-color: #198a80;
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 6rem;
}

@media (min-width: 768px){

    .formulario{
        padding: 2rem 3rem;
    }
    .formulario label{
        font-size: 2rem;
    }
    
    .formulario input[type="number"],
    .formulario input[type="text"],
    .formulario input[type="submit"],
    .formulario select{
        font-size: 1.8rem;
    }
}

/* Formularuio2 */
.formulario legend {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: var(--blanco);
    margin: 1rem 0rem 3rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--verde);
}

.swal2-popup{
    width: 50rem;
}
.swal2-html-container{
    font-size: 1.8rem;
}
.swal2-title{
    font-size: 2.4rem;
}

.swal2-styled.swal2-confirm{
    background-color: var(--verde);
}

.fondo__controlPresupuesto{
    background-image: url(./img/bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 80vh;
}

@media (min-width: 768px){
    .fondo__controlPresupuesto{
        height: 60vh;
    }
}

.contenedor__controPresupuesto{    
    background-color: #fffc;
    transform: translateY(8rem);
    padding: 3rem;
}
.contenedor__controPresupuesto h2{
    margin: 1rem auto;
    text-align: center;
    color: var(--primario);
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}

.nuevo__gasto{
    position: fixed;
    bottom: 3rem;
    right: 0rem;
}

@media (min-width: 768px){
    .nuevo__gasto{
        bottom: 5rem;
        right: 1rem;
    }
}

.nuevo__gasto img{
    width: 5rem;
}

.nuevo__gasto:hover{
    cursor: pointer;
}

.contenido__controlPresupuesto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    
}

@media (min-width: 768px){
    .contenido__controlPresupuesto{
        flex-direction: row;
    }
    .info__controlPresupuesto{
        flex: 1;
    }

    .grafica__controlPresupuesto{
        width: 50%;
    }
    
}

/* BORRAR Al agregar gráfica */
.grafica__controlPresupuesto  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: gray;
}

.boton__controlPresupuesto{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    padding: 1.1rem 0 ;
    margin: 1rem 0 ;
    font-weight: 700;
    border-radius: .5rem;
    border: 1px solid #fff ;
    background-color: var(--rojo);
    color: #fff;
    transition: background-color 300ms ease;
}

@media (min-width: 768px){
    .boton__controlPresupuesto{
        display: block;
        width: auto;
        padding: 1.1rem 8rem;
    }
}

.boton__controlPresupuesto:hover{
    background-color: #f06d5b;
}

.items__controPresupuesto{
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px){
    .items__controPresupuesto{
        text-align: left;
    }
}

.items__controPresupuesto span{
    font-weight: 700;
    font-size: 1.8rem;    
}

.modal{
    position: absolute;
    background-color: rgb(0 0 0 / 0.92);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cerrar__modal{
    position: absolute;
    right: 9rem;
    top: 3rem;
    width: 3rem;
    width: 3rem;
    height: 3rem;
}

.modal .cerrar__modal img{
    width: 185%;    
}

.cerrar__modal:hover{
    cursor: pointer;
}

.modal .formulario{
    max-width: 80rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
    margin-top: 5rem;
    padding:4rem 2rem ;
}

@media (min-width: 768px){
    .modal .formulario{
        margin-top: 0;
    }
}

body .modal {
    overflow: hidden;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal label {
    text-align: left;
}

.listado-gastos{
    margin-top: 5rem;
    padding:0 1rem 5rem 1.5rem;
}

.listado-gastos h2 {
    text-align: center;
    font-size: 3.6rem;
    color: #0a746b;
}

.informacion__movil img {
    width:10%;
}
.informacion__movil{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px){
    .informacion__movil{
        display: none;
    }
}

.contenedor_gastos{    
   padding: 2rem;
   margin-top: 2.5rem;
   height: 35rem;
   background-color: rgba(200, 250, 100, .2);
   border-radius: 1rem;
}

.gasto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
}

.categoria__gasto{    
    grid-column: 1/3;
}

.categoria__gasto img {
    display: block;
    width: 28%;
    margin: 0 auto;
}

.categoria__gasto p{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--gris);
}

.informacion_gasto p{
    font-weight: 700;
    color: var(--grisOscuro);
}
.informacion_gasto span{
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--negro);
}

.cantidad__gasto {
   display: flex;
   justify-content: center;
}

.cantidad__gasto p{
    font-size: 2.9rem;
    font-weight: 900;
    color: var(--grisOscuro);
}

.opciones__gasto{
    display: none;
}

.opciones__gasto button{
    width: 70%;
    padding: 1rem 2rem;
    color: var(--blanco);
    border-radius: .5rem;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    transition: background-color 550ms ease;
}

.opciones__gasto .editar{
    background-color: var(--primario);   
}

.opciones__gasto .editar:hover{
    background-color: #2a309e;
}

.opciones__gasto .eliminar{
    background-color: var(--rojo);
}

.opciones__gasto .eliminar:hover{

    background-color: #A11402;
}

@media (min-width: 768px){
    .contenedor_gastos{
        margin: 0 auto;
        height: auto;
    }
    
    .opciones__gasto{
        display: block;
    }

    .gasto{
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: 1fr;
    }

    .categoria__gasto{
        grid-column: 1/2;
    }

    .categoria__gasto img{
        width: 65%;
    }
    .categoria__gasto p{
        margin: 1rem 0 0 0 ;
    }
    .informacion_gasto p{
        font-size: 1.8rem;
    }
    .cantidad__gasto{
        justify-content: center;
        align-items: center;
    }

    .opciones__gasto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
}
/*** SWIPE LIST OVERRIDES **/
 
    .swipe-action__leading {
        background-color: var(--primario);
        color: var(--blanco);
        margin-bottom: 0;    
        margin-top: 2.5rem;
        border-radius: 1rem;
    }

    .swipe-action__trailing {
        background-color: var(--rojo);    
        color: var(--blanco);
        margin-top: 2.5rem;
        border-radius: 1rem;
    }

    .swipeable-list .swipe-action {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        text-align: right;
        gap: 1rem;
    }

    .swipeable-list-item__content{
        display: block;
    }

    @media (min-width: 768px){
        .swipe-action__leading, .swipe-action__trailing {
           
            margin-top: 0;
        }
    }